.cm-s-arma.CodeMirror {
	background: rgba(0, 0, 0, 0.2);
	color: #ddd;
}

.cm-s-arma div.CodeMirror-selected {
	background: #447 !important;
}

.cm-s-arma .CodeMirror-gutters {
	background: rgba(0, 0, 0, 0.2);
	border-right: 1px solid #222;
}

.cm-s-arma .CodeMirror-linenumber {
	color: #ddd;
}

.cm-s-arma .CodeMirror-cursor {
	border-left: 1px solid white !important;
}

.cm-s-arma span.cm-comment {
	color: #6900a1;
}

.cm-s-arma span.cm-atom {
	color: #845dc4;
}

.cm-s-arma span.cm-number, .cm-s-arma span.cm-attribute {
	color: #ffd500;
}

.cm-s-arma span.cm-keyword {
	color: #599eff;
}

.cm-s-arma span.cm-string {
	color: #37f14a;
}

.cm-s-arma span.cm-meta {
	color: #7678e2;
}

.cm-s-arma span.cm-variable-2, .cm-s-arma span.cm-tag {
	color: #99b2ff;
}

.cm-s-arma span.cm-variable-3, .cm-s-arma span.cm-def {
	color: white;
}

.cm-s-arma span.cm-error {
	color: #9d1e15;
}

.cm-s-arma span.cm-bracket {
	color: #8da6ce;
}

.cm-s-arma span.cm-comment {
	color: #6900a1;
}

.cm-s-arma span.cm-builtin, .cm-s-arma span.cm-special {
	color: #ff9e59;
}

.cm-s-arma span.cm-link {
	color: #845dc4;
}
