.CodeMirror {
	height: 50em;
	border: 1px solid #222;
}

.CodeMirror-fullscreen {
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: 9999;
}

.CodeMirror pre.CodeMirror-placeholder {
	color: #999;
}


.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}

