.cm-s-mcp.CodeMirror {
	font-family: Armagetronad, monospace;
	background: rgba(0, 0, 0, 0.2);
	color: #ddd;
}

.cm-s-mcp div.CodeMirror-selected {
	background: #447 !important;
}

.cm-s-mcp .CodeMirror-gutters {
	background: rgba(0, 0, 0, 0.2);
	border-right: 1px solid #222;
}

.cm-s-mcp .CodeMirror-linenumber {
	color: #ddd;
}

.cm-s-mcp .CodeMirror-cursor {
	border-left: 1px solid white !important;
}

.cm-s-mcp .cm-comment {
	color: #6900a1;
}

.cm-s-mcp .cm-atom {
	color: #845dc4;
}

.cm-s-mcp .cm-number, .cm-s-mcp .cm-attribute {
	color: #ffd500;
}

.cm-s-mcp .cm-keyword {
	color: #599eff;
}

.cm-s-mcp .cm-string {
	color: #37f14a;
}

.cm-s-mcp .cm-meta {
	color: #7678e2;
}

.cm-s-mcp .cm-variable-2, .cm-s-mcp .cm-tag {
	color: #99b2ff;
}

.cm-s-mcp .cm-variable-3, .cm-s-mcp .cm-def {
	color: white;
}

.cm-s-mcp .cm-error {
	color: #9d1e15;
}

.cm-s-mcp .cm-bracket {
	color: #8da6ce;
}

.cm-s-mcp .cm-comment {
	color: #6900a1;
}

.cm-s-mcp .cm-builtin, .cm-s-mcp .cm-special {
	color: #ff9e59;
}

.cm-s-mcp .cm-link {
	color: #845dc4;
}
