select[multiple] {
	width: 100%;
	height: 50em;
}

select[multiple].mini {
	height: 10em;
}

#server_upgrade_all_button {
	width: 120px;
}

#source_update_all_button {
	width: 120px;
}

#library_update_all_button {
	width: 120px;
}
