pre {
	font-family: Armagetronad, monospace;

	height: 50em;
}

.select {
	padding-right: 8px;
	line-height: 24px;
}

.status {
	font-weight: bold;

	padding-right: 8px;
	line-height: 25px;
}

#command table {
	width: 100%;
}

#command table td {
	width: 100%;
	padding: 5px;
}

#command_input {
	width: 100%;
}
