[Unit]
Description=A complete Armagetron Advanced multi-server management framework and web interface

[Service]
Type=simple
ExecStart=armaadmin
Restart=on-abort

[Install]
WantedBy=multi-user.target
