nav {
	background: #369;
	border-width: 2px 0px 2px 0px;
	border-style: solid;
	border-color: #000;
	overflow: auto;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav li {
	list-style-type: none;
	display: inline;
	float: left;
}

nav button {
	width: 80px;
	padding: 5px 0px 5px 0px;
	border-style: solid;
	border-color: #000;
}

nav .left button {
	border-width: 0px 2px 0px 0px;
}

nav .right button {
	border-width: 0px 0px 0px 2px;
}

nav form {
	display: inline;
}

main {
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: #000;
}
