html {
	margin: 0px;
	padding: 0px;
}

body {
	background: url('background.png');
	margin: 0px;
	padding: 0px;
	min-width: 800px;
	color: #DDD;
}

label {
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

.failure {
	color: #f44;
	font-weight: bold;
}

.header {
	padding: 20px;
	text-align: center;
}

.logo {
	width: 128px;
	height: 128px;
	padding-right: 30px;
	vertical-align: middle;
}

.title {
	font-size: 42px;
	font-weight: bold;
	vertical-align: middle;
}

.content {
	background: rgba(60, 110, 80, 0.6);
	border: 2px solid #000;
	width: 92%;
	margin: 0px auto 60px auto;
	padding: 20px;
}

.button {
	background: #369;
	color: #000;
	text-decoration: none;
	padding: 0px 8px 0px 8px;
	border: 2px solid #000;
	display: inline-block;
	text-align: center;
}

.button:hover {
	background: #47A;
}

.disabled {
	color: #333;
	pointer-events: none;
}

.disabled:hover {
	background: #369;
}
