[Unit]
Description=Armagetron Advanced daemon manager

[Service]
Type=simple
ExecStart=/usr/bin/mcp
User=mcp
Group=mcp
Restart=on-abort

[Install]
WantedBy=multi-user.target
