[Unit]
Description=Armagetron Advanced daemon manager

[Service]
Type=simple
ExecStart=/usr/bin/mcp
Restart=on-abort

[Install]
WantedBy=multi-user.target
